$navi-blue: #224957;
$dark_navi-blue: #093545;
$white: #ffffff;
$black: #000000;
$green: #20df7f;
$bg-color: #e5e5e5;

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
}

h2 {
  width: 212px;
  height: 80px;
  left: 534px;
  top: 157px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: $navi-blue;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
     display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $navi-blue;
  }

  input {
    width: 300px;
    height: 45px;
    margin-bottom: 5px;
    background: $navi-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    &::placeholder,
    &::placeholder {
      color: $white;
    }
    color: $white;
    font-family: "Lexend Deca";
    font-style: normal;
  }
}
.signup-btn {
  width: 300px;
  height: 45px;
  left: 490px;
  top: 518px;
  background: $green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  label {
    width: 44px;
    height: 20px;
    left: 618px;
    top: 531px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .login-form {
    width: 100%;
    max-width: 400px;
  }
}